.projects{
    display: flex;
    flex-direction: column;


    &-list{  
         left: 30px;
         width: 35%;  

    }
    &-name{
        display: flex;
        justify-content: center;
        height: 30px;
        text-align: center;
        width:calc(fit-content + 10px) ;
        font-size: 15px;
        margin:  15px 0;
        transition: all 0.5s;
        background: linear-gradient(45deg,rgba(99, 99, 177, 0.734) 60%, rgba(255, 255, 255, 0.5) 80% );
        border-radius: 5px;
        border: 1px solid grey;
        box-shadow: 8px 8px 15px 2px rgb(34, 60, 80);
       
        &:hover{
            cursor: pointer;
            color: aliceblue(249, 255, 143);
            text-shadow: 3px 3px 2px rgb(247, 247, 247);
            transform: scale(1.05);           
            width: 400px;
            background: linear-gradient(45deg,rgba(99, 99, 177, 0.523) 20%, rgba(255, 255, 255, 0.694) 61% );
        }
        &:active{
            transform: scale(1);
        }
        &--active{
            cursor: pointer;
            color: aliceblue !important;
            text-shadow: 3px 3px 2px rgba(247, 247, 247,0.5);
            transform: scale(1.05);           
            width: 400px;
            background: linear-gradient(45deg,rgba(99, 99, 177, 0.7) 20%, rgba(132, 76, 76, 0.7) 61% );
            &:hover{
                background: linear-gradient(45deg,rgba(99, 99, 177, 0.7) 20%, rgba(132, 76, 76, 0.7) 61% );
                transform: scale(1.05);
                text-shadow: 1px 1px 1px rgb(247, 247, 247);

            }

        }
        
    }
    
}