.projectsArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow: hidden;
    height: 70vh;
    width: 100%;

    margin-left: 40px;
    margin-right: 40px;
    // position: absolute;

}
