.projectsArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    
    @media only screen and (min-width: 750px) {
        height: 100vh; 
        margin-left: 40px;
    margin-right: 40px;          
    }
}
