p{
    font-weight: bold;
}
.contact{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    margin: 20px;
    &.info{
        margin: 20px;
        background-color: rgba(250, 235, 215, 0.8);
        width: 70%;
        height: 500px;       
    }
    &-img{
        max-width: 100%;
        max-height: 20%;

    }
    &-block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}
