

  .navbar{
    font-size: 3vh;
    display: flex;
    height: 7vh;
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.775);
    justify-content: space-between;
    
    

    &-links{
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 0%;
      top:15px;
      justify-items: space-between;
      list-style: none;
      &-hash{
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        align-items: center;
        cursor: pointer;
        margin-right:50px;
        text-decoration-line: none;
        transition: ease-in-out 0.25s ;
        
  
        &:hover{
          color: midnightblue;
          background-color: rgba(0, 76, 255, 0.095);
          transform: scale(1.1);
          border-radius: 50%;
          text-decoration-line: underline;
      }
      &:active{
        transform: scale(0.9);
        border-radius: 70%;
      }
      }
    }
    &-logo{
      // display: block;

      overflow: block;
      width: auto;
      height: 100%;
      margin-right: auto; 
      margin-left: 200px;     
      & img{
        height:100%;
        width: auto;
        
      }
    }

  }