

  .navbar{
    font-size: 3vh;
    display: flex;
    height: 7vh;
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: space-between;
    z-index: 20;
    @media only screen and (max-width: 750px) {
      font-size: 12px;
      align-items: flex-end;
      
    }
    &-links{
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 0;
      top:15px;
      list-style: none;
      @media only screen and (max-width: 750px) {
        flex-direction: column;
      top:0;
      width:auto;
      }
      &-hash{
        color: midnightblue;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        width: auto;
        align-items: center;
        cursor: pointer;
        margin-right:50px;
        text-decoration-line: none;
        transition: ease-in-out 0.25s ;
        @media only screen and (max-width: 750px) {
left:90%;      }
  
        &:hover{
          color: rgb(10, 10, 61);
          background-color: rgba(0, 76, 255, 0.095);
          transform: scale(1.1);
          border-radius: 50%;
          text-decoration-line: underline;
      }
      &:active{
        transform: scale(0.9);
        border-radius: 70%;
      }
      }
    }
    &-logo{
      display: flex;
      align-items: center;
      overflow: block;
      width: auto;
      height: 100%;
      margin-right: auto; 
      margin-left: 200px; 
      @media only screen and (max-width: 800px) {
        margin-left: 165px; }
      @media only screen and (max-width: 620px) {
        margin-left: 165px;
      }
      @media only screen and (max-width: 585px) {
        display: none;      }
       

      & img{
        height:100%;
        width: auto;
        @media only screen and (max-width: 1000px) {
          // width: 10px;  
          height:50%;   }
        
      }
    }

  }