

  .navbar{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    display: flex;
    height: 50px;
    width: 100%;
    position:fixed;
    top: 0;
    // background-color: rgba(245, 222, 179, 0.775);
    justify-content: space-between;
    
    & li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100px;
      align-items: center;
      cursor: pointer;
      margin-right:50px;
      transition: ease-in-out 0.25s ;
      

      &:hover{
        color: midnightblue;
        background-color: rgb(255, 255, 255);
        transform: scale(1.1);
        width: 120px;
        border-radius: 50%;
        text-decoration-line: underline;
    }
    &:active{
      transform: scale(0.9);
      width: 100px;
      border-radius: 70%;
    }
    }

    &-links{
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 0%;
      top:15px;
      justify-items: space-between;
      list-style: none;
      
    }
  }